#blognew{
    padding: 80px 0;
}

.blognewsbox{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.blognewimage{
    width: 931px;
    height: 562px;
    margin-bottom: 20px;
}

.blognewtext{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 931px;
}

.new-title{
    font-size: 35px;
    transition: .4s;
}

.new-title:hover{
    color: #fe5915;
}

.new-date{
    transition: .4s;
    color: #888787;
}

.new-date:hover{
    color: #fe5915;
}

.new-desc{
    color: #888787;
}



@media (max-width: 1024px) {
    .blognewimage {
      width: 90%;
      height: auto;
    }
  
    .blognewtext {
      width: 90%;
    }
  
    .new-title {
      font-size: 28px;
      text-align: center;
    }
  
    .new-date {
      text-align: center;
    }
  
    .new-desc {
      font-size: 16px;
      text-align: center;
    }
  }
  
  

  @media (max-width: 600px) {
    #blognew {
      padding: 60px 0;
    }
  
    .blognewimage {
      width: 100%;
      height: auto;
    }
  
    .blognewtext {
      width: 100%;
      padding: 0 15px;
    }
  
    .new-title {
      font-size: 22px;
    }
  
    .new-date {
      font-size: 14px;
    }
  
    .new-desc {
      font-size: 14px;
    }
  }
  