.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
}

.not-found-container h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    color: #ff4d4f;
}

.not-found-container p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.home-button {
    background-color: #fe5915;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

