#contactemail{
    padding-bottom: 100px;
}

.contactemailbox{
    display: flex;
    justify-content: space-between;
}

.emailimagebox{
    width: 411px;
    height: 694px;
}

.sendmessage{
    font-size: 55px;
}

.emailtext{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.emailtext input{
    height: 50px;
    font-size: 15px;
    padding-left: 10px;
}

.emailtext textarea{
   resize: none;
   height: 250px;
   font-size: 15px;
   padding-left: 10px;
   padding-top: 10px;
}

.submitbtn{
    width:130px;
    height: 50px;
    background-color: #fe5915;
    color: #fff;
    border: none;
    transition: .4s;
    margin-top: 20px;
}

.submitbtn:hover{
    background-color: #000;
}


@media (max-width: 1024px) {
    .contactemailbox {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  
    .emailimagebox {
      width: 90%;
      max-width: 500px;
      height: auto;
    }
  
    .sendmessage {
      font-size: 42px;
      text-align: center;
    }
  
    .emailtext {
      width: 90%;
      max-width: 600px;
      align-items: center;
    }
  
    .emailtext input,
    .emailtext textarea {
      width: 100%;
      font-size: 15px;
    }
  
    .submitbtn {
      width: 120px;
      height: 45px;
      font-size: 15px;
    }
  }
  
  
  @media (max-width: 600px) {
    #contactemail {
      padding-bottom: 60px;
    }
  
    .emailimagebox {
      width: 100%;
      height: auto;
    }
  
    .sendmessage {
      font-size: 30px;
    }
  
    .emailtext {
      width: 100%;
      padding: 0 15px;
      gap: 25px;
    }
  
    .emailtext input,
    .emailtext textarea {
      font-size: 14px;
    }
  
    .submitbtn {
      width: 100%;
      max-width: 130px;
      height: 45px;
      font-size: 14px;
    }
  }
  