#pageheader{
    height: 230px;
    background-color: #000;
    padding-top: 60px;
}
.pageheadertext{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.pass{
    color: #fff;
}
.aboutname{
    color: #fff;
    font-size: 70px;
}