.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-input-wrapper input[type="password"],
  .password-input-wrapper input[type="text"] {
    padding-right: 40px;
    width: 100%;
  }
  
  .password-input-wrapper span {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    user-select: none;
    transition: color 0.3s;
  }
  
  .password-input-wrapper span:hover {
    color: #fe5915;
  }
  