#abouthumble{
    margin-bottom: 100px;
}

.humblebox{
    display: flex;
    gap: 40px;
    align-items: center;
}

.humbleimagebox{
    width: 710px;
    height: 480px;
}

.humbletext{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.story{
    color: #fe5915;
}

.humblebeginning{
    font-size: 60px;
}

.hill{
    color: #888787;
    font-size: 18px;
}



@media (max-width: 1024px) {
    .humblebox {
      flex-direction: column;
      gap: 30px;
      align-items: center;
      text-align: center;
    }
  
    .humbleimagebox {
      width: 100%;
      max-width: 600px;
      height: auto;
    }
  
    .humbletext {
      width: 90%;
      max-width: 500px;
      align-items: center;
    }
  
    .humblebeginning {
      font-size: 44px;
    }
  
    .hill {
      font-size: 16px;
    }
  }
  
  
  
  @media (max-width: 600px) {
    .humbleimagebox {
      width: 100%;
      height: auto;
    }
  
    .humbletext {
      width: 100%;
      padding: 0 15px;
      gap: 20px;
    }
  
    .humblebeginning {
      font-size: 32px;
    }
  
    .hill {
      font-size: 14px;
    }
  }
  